body {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

#calculatrice {
  font-family: Arial, sans-serif;
  background-color: rgb(41, 41, 41);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  color: white;
  background-color: rgb(67, 67, 67);
}

#touches {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: rgb(81, 81, 81);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgb(114, 113, 113);
}

button:active {
  background-color: rgb(152, 152, 152);
}

.btnOperation {
  background-color: orange;
}

.btnOperation:hover {
  background-color: rgb(250, 188, 72);
}

.btnOperation:active {
  background-color: rgb(252, 222, 167);
}
